body
{
	margin: 0;
	font: normal 75% Arial, Helvetica, sans-serif;
    height: 100%;
    font-family: 'Open Sans';
}

canvas
{
	display: block;
	vertical-align: bottom;
}

#particles-js
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000000;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

#stats, .count-particles
{
	-webkit-user-select: none;
	margin-top: 5px;
	margin-left: 5px;
}

#particles-js canvas
{
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js
{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

.contenido
{
    width: 500px;
    margin: 10px auto 0;
    text-align: center;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(210,4,12,1) 0%, rgba(210,4,12,0) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(210,4,12,1) 0%,rgba(210,4,12,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(210,4,12,0.3) 0%,rgba(210,4,12,0) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
    .contenido img.logo
    {
        width: 50%;
        margin: 2em auto;
        animation: heartbeat 4s infinite;
    }
    .contenido .social-icon
    {
        margin: 0 1em;
    }

    .contenido h1
    {
        color: #c4a566;
        text-transform: uppercase;
        font-size: 2.5em;
        margin: 0.5em auto;
        font-weight: bold;
    }

    .contenido h2
    {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 2.5em;
        margin: 0;
    }

    .contenido h3
    {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 1.5em;
        margin: 1em auto 2em;
        font-weight: normal;
    }

@keyframes heartbeat
{
    0%
    {
    transform: scale( .975 );
    }
    20%
    {
    transform: scale( 1 );
    }
    40%
    {
    transform: scale( .975 );
    }
    60%
    {
    transform: scale( 1 );
    }
    80%
    {
    transform: scale( .975 );
    }
    100%
    {
    transform: scale( .975 );
    }
}